:root {
  --color-primary-darkt: --#31261a;
  --color-primary-light: -- #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
}
/*Base*/
body {
  color: var(--color-primary-darkt);
}

ul {
  list-style-type: none;
}

/*Button*/
.button {
  background-color: var(--color-brand) --color-brand-light;
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 4;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/*Link*/
.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
}

.hero-title {
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/*Advantage section*/
.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}

.section-title {
  color: var(--color-primary-darkt);
}
